<div class="container-fluid">

<h2><%= @person.name %></h2>

<% unless @person.film_editors.empty? %>
    <h4> as Editor</h4>
    <%= render partial: "shared/film_mini_card", object: @person.film_editors %>
<% end %>

<% unless @person.film_filmers.empty? %>
    <h4>as Filmer</h4>
    <%= render partial: "shared/film_mini_card", object: @person.film_filmers %>
<% end %>

<!-- if person is in a film that's in draft, they'll show up, with 'as rider' -->
<% unless @person.sections.empty? %>
<h4>as Rider</h4>
    <%= render partial: "shared/section_card", object: @person.sections %>
<% end %>

<!-- Modal -->
<%= render partial: "shared/modal_carousel", object: @person.sections %>
<!-- modal -->

</div>