


<ul>
	
	<li><a href="/favourites">Favourites(<%= favourites_count.to_s %>)</a></li>
	<li><a href="/watchlists">Watch List(<%= watchlist_count.to_s %>)</a></li>
	<li><a href="/userfilms">Your Films(<%= userfilms_count.to_s %>)</a></li>
	<li><a href="/userdrafts">Drafts(<%= userdraft_count.to_s %>)</a></li>
	<li><span>Account</span></li>
</ul>





<%= render :partial => 'form' %>

