<p id="notice"><%= notice %></p>

<div class="container">

<p>
  <strong>Name</strong>
  <%= @film.name %>
</p>

<% if @film.image.attached? %>
<!-- @film.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @film.image %>
  </p>
<% end %>

<p>
  
<% @film.sections.map do | section | %>
  
<p>
  <%= section.name %>


  <%= thumb_image_tag(get_thumbnail(section.url)) %>

  
  <% section.people_riders.map do | rider | %>
  	<%= rider.name %>
  <% end  %>
  
  <% section.section_songs.map do | song | %>
  	<%= song.name %>
  <% end  %>
</p>
  
<% end  %>

</p>

</div>


