<p id="notice"><%= notice %></p>

<div class="container-fluid">
    
    <div class="row">

      <div class="col-sm-9 mb-2">

          <div class="jumbotron">
            <h1 class="display-4"><%= @film.name %><%= film_release(@film)%></h1>
            <p class="lead"><%= film_information(@film) %></p>
            <p><%= @film.notes %></p>
            
              <% @film.film_companies.each do |company| %>
                      <% if company.company_logo.attached? %>
                          <%= link_to image_tag(company.company_logo.variant(resize: '80x')), company %></li>
                        <% else %>
                          <%= link_to company.name, company %>
                      <% end %>
              <% end %>
            
          </div>
        
        <% unless @film.people_editors.empty? %>
          <div class="ml-2 pl-4"><%= "Editor".pluralize(@film.people_editors.count) %></div>
          <ul class="list-unstyled ml-2 pl-4">
          <% @film.people_editors.each do |editor| %>
                  <li><%= link_to editor.name,  editor %></li>
          <% end %>
          </ul>
        <% end %>

        <% unless @film.people_filmers.empty? %>
          <div class="ml-2 pl-4"><%= "Filmer".pluralize(@film.people_filmers.count) %></div>
          <ul class="list-unstyled ml-2 pl-4">
          <% @film.people_filmers.each do |filmer| %>
                  <li><%= link_to filmer.name,  filmer %></li>
          <% end %>
          </ul>
        <% end %>

        


      </div>

      <div class="col-sm-3 mb-2">
        <% if @film.image.attached? %>
          <%= link_to @film.image, data: { toggle: 'lightbox'} do
                image_tag @film.image.variant(resize: '200x')      
          end %>
        <% end %>
      </div>

    </div>
  
  

  


</div>





<div class="row">
  
<% @film.sections.order(:id).map do | section | %>
      <div class="col-sm-6 mb-4">
        <%= render partial: "shared/film_section", object: section %>
      </div>

      <div class="col-sm-6 mb-4">
        <%= render partial: "shared/section_info", object: section %>
      </div>
<% end  %>

</div>


<%= render partial: "shared/modal_carousel", object: @film.sections %>

</div>


