
<% if current_user %>
    <li><a href="/favourites"><%= current_user.username %></a><%= current_user_session %></li>
    <li><%= link_to "Logout", logout_path %></li>
<% else %>
    <li><%= link_to "Login", login_path %></li>
    <li><%= link_to "Register", new_user_path %></li>
<% end %>

<% if has_role? :admin %>
    admin
<% end %>

<% if has_role? :author %>
    author
<% end %>

